<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

<app-grid-list></app-grid-list>

<router-outlet></router-outlet>