<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>

<!-- <div class="container-fluid">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <h2>Otsikko2</h2>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
        <app-cur-weather city = {{lastCity}}></app-cur-weather>
    </div>
    <div class="col-sm">
            City: <input [(ngModel)]="city" type="text" >
            <p>Last search {{lastCity}}</p>
            <button (click)="callGetPosts(city);" type="button" class="btn btn-primary">Hae sää</button>
    </div>
    <div class="col-sm">
        <div class="col-sm">
            <!-- <app-forecast city = {{lastCity}}></app-forecast> -->
        </div>
    </div>
    <ng-template #loading let-user>Loading...</ng-template>
    <ng-template #placeholder let-user> <img src="https://via.placeholder.com/150" class="card-img-top"></ng-template>
  </div>
</div>

<!-- <app-grid-list></app-grid-list> -->

<router-outlet></router-outlet>